{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "EMPTY",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "STORAGE_ACCOUNT_KEY": "EMPTY",
    "AzureWebJobsStorage__blobServiceUri": "EMPTY",
    "AzureWebJobsStorage__queueServiceUri": "EMPTY",
    "AzureWebJobsStorage__tableServiceUri": "EMPTY"
  }
}